<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>College management system</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.java.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.java.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyLoginServlet</display-name>
    <servlet-name>FacultyLoginServlet</servlet-name>
    <servlet-class>com.java.FacultyLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyLoginServlet</servlet-name>
    <url-pattern>/FacultyLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginServlet</display-name>
    <servlet-name>StudentLoginServlet</servlet-name>
    <servlet-class>com.java.StudentLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginServlet</servlet-name>
    <url-pattern>/StudentLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAttendanceServlet</display-name>
    <servlet-name>UpdateAttendanceServlet</servlet-name>
    <servlet-class>com.java.UpdateAttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAttendanceServlet</servlet-name>
    <url-pattern>/UpdateAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>com.java.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDAO</display-name>
    <servlet-name>StudentDAO</servlet-name>
    <servlet-class>com.java.StudentDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDAO</servlet-name>
    <url-pattern>/StudentDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceServlet</display-name>
    <servlet-name>AttendanceServlet</servlet-name>
    <servlet-class>com.java.AttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceServlet</servlet-name>
    <url-pattern>/AttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseUtils</display-name>
    <servlet-name>DatabaseUtils</servlet-name>
    <servlet-class>com.java.DatabaseUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseUtils</servlet-name>
    <url-pattern>/DatabaseUtils</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceReportServlet</display-name>
    <servlet-name>AttendanceReportServlet</servlet-name>
    <servlet-class>com.java.AttendanceReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceReportServlet</servlet-name>
    <url-pattern>/AttendanceReportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Attendance</display-name>
    <servlet-name>Attendance</servlet-name>
    <servlet-class>com.java.Attendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attendance</servlet-name>
    <url-pattern>/Attendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttendanceDAO</display-name>
    <servlet-name>AttendanceDAO</servlet-name>
    <servlet-class>com.java.AttendanceDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceDAO</servlet-name>
    <url-pattern>/AttendanceDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStudentDetail</display-name>
    <servlet-name>EditStudentDetail</servlet-name>
    <servlet-class>com.java.EditStudentDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentDetail</servlet-name>
    <url-pattern>/EditStudentDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsernameUtility</display-name>
    <servlet-name>UsernameUtility</servlet-name>
    <servlet-class>com.java.UsernameUtility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsernameUtility</servlet-name>
    <url-pattern>/UsernameUtility</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyNameUtility</display-name>
    <servlet-name>FacultyNameUtility</servlet-name>
    <servlet-class>com.java.FacultyNameUtility</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyNameUtility</servlet-name>
    <url-pattern>/FacultyNameUtility</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultySubjectAsign</display-name>
    <servlet-name>FacultySubjectAsign</servlet-name>
    <servlet-class>com.java.FacultySubjectAsign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultySubjectAsign</servlet-name>
    <url-pattern>/FacultySubjectAsign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyAttendanceServlet</display-name>
    <servlet-name>FacultyAttendanceServlet</servlet-name>
    <servlet-class>com.java.FacultyAttendanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyAttendanceServlet</servlet-name>
    <url-pattern>/FacultyAttendanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminEnterMarks</display-name>
    <servlet-name>AdminEnterMarks</servlet-name>
    <servlet-class>com.java.AdminEnterMarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminEnterMarks</servlet-name>
    <url-pattern>/AdminEnterMarks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSubjectAsign</display-name>
    <servlet-name>AdminSubjectAsign</servlet-name>
    <servlet-class>com.java.AdminSubjectAsign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSubjectAsign</servlet-name>
    <url-pattern>/AdminSubjectAsign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.java.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeServlet</display-name>
    <servlet-name>AdminHomeServlet</servlet-name>
    <servlet-class>com.java.AdminHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeServlet</servlet-name>
    <url-pattern>/AdminHomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FetchAttendanceForDateServlet</display-name>
    <servlet-name>FetchAttendanceForDateServlet</servlet-name>
    <servlet-class>com.java.FetchAttendanceForDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetchAttendanceForDateServlet</servlet-name>
    <url-pattern>/FetchAttendanceForDateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogout</display-name>
    <servlet-name>AdminLogout</servlet-name>
    <servlet-class>com.java.AdminLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogout</servlet-name>
    <url-pattern>/AdminLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminHomeSecure</display-name>
    <servlet-name>AdminHomeSecure</servlet-name>
    <servlet-class>com.java.AdminHomeSecure</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminHomeSecure</servlet-name>
    <url-pattern>/AdminHomeSecure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyEnterMarks</display-name>
    <servlet-name>FacultyEnterMarks</servlet-name>
    <servlet-class>com.java.FacultyEnterMarks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyEnterMarks</servlet-name>
    <url-pattern>/FacultyEnterMarks</url-pattern>
  </servlet-mapping>
</web-app>